* {
  -webkit-font-smoothing: antialiased;
  --background-page:#FAFAFA;
  --background-footer:#FFFFFF;
  --background-light:#FFFFFF;
  --background-darkblue:#1D2027;
  --accent_color:#1AFD71;
  --text-color:#282828;
  --text-light:#FFFFFF;
  --main-color:#14161C;
  --secondary:#4A2E9B;
  --font-title:"Poppins", sans-serif;
  --font-content:"Inter", sans-serif;
  font-family: var(--font-content);
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  box-sizing: border-box;
  color: var(--text-color);
  line-height: 1.5;
  font-size: 18px;
}

.cta_outline {
  border-radius: 100px;
  font-size: 18px;
  border: 2px solid #FFFFFF;
  padding: 8px 32px;
  box-sizing: border-box;
  color: var(--text-light);
  font-family: var(--font-content);
  font-weight: 700;
  text-decoration: none;
  margin: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  transition: 300ms ease;
}
.cta_outline:hover {
  background-color: #FFFFFF;
  color: var(--text-color);
}

body {
  background-color: var(--background-page);
}

.cta_whatsapp {
  position: fixed;
  bottom: 1%;
  right: 1%;
  transition: 300ms ease all;
}
.cta_whatsapp:hover {
  transform: scale(1.1);
}
.cta_whatsapp img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 80px;
}

header {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  background-color: transparent;
  z-index: 10;
  transition: 300ms ease all;
}
header.scroll {
  background-color: var(--main-color);
}
header .header {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.green {
  color: var(--accent_color);
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7803921569);
  inset: 0;
  transition: 300ms ease all;
  opacity: 0;
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 100%;
  height: 100%;
  max-width: 120px;
  object-fit: contain;
}

.mobile_menu {
  display: none;
}
.mobile_menu span {
  color: #FFFFFF;
  font-size: 24px;
  cursor: pointer;
}

.main_navbar {
  z-index: 1;
  position: relative;
}
.main_navbar ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}
.main_navbar ul li {
  list-style: none;
}
.main_navbar ul li a {
  color: var(--text-light);
  text-decoration: none;
  font-family: var(--font-title);
  font-weight: 500;
  font-size: 15px;
}
.main_navbar ul li a.active {
  color: var(--accent_color) !important;
}

.herosection {
  background-color: var(--main-color);
  width: 100%;
  height: 80vh;
}

footer {
  background-color: var(--background-footer);
  padding: 16px;
}

.footer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 80px 0;
}
.footer .info_cn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.navegacion_footer {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.navegacion_footer nav {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
.navegacion_footer h4 {
  font-size: 14px;
  font-family: var(--font-title);
  margin: 0;
}
.navegacion_footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.navegacion_footer ul li {
  list-style: none;
}
.navegacion_footer a {
  text-decoration: none;
  font-size: 14px;
  font-family: var(--font-title);
  font-weight: 500;
  opacity: 0.7;
  transition: 300ms ease all;
}
.navegacion_footer a:hover {
  text-decoration: underline;
  opacity: 1;
}

.legal_navbar ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 24px;
}
.legal_navbar ul li {
  list-style: none;
}
.legal_navbar ul li a {
  text-decoration: none;
  font-size: 14px;
}
.legal_navbar ul li a:hover {
  text-decoration: underline;
}

.desc_footer, .since {
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 1050px) {
  .herosection {
    border-radius: 0 0 400px 0;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .servicios {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  * {
    font-size: 16px;
  }
  .herosection {
    border-radius: 0 0 200px 0;
  }
  .herosection .container {
    grid-template-columns: 1fr;
  }
  .herosection h3 {
    font-size: 18px;
  }
  .herosection h2 {
    font-size: 40px;
  }
  .heroimage {
    display: none;
  }
  .mobile_menu {
    display: flex;
    z-index: 2;
  }
  .mobile_menu.active span {
    color: #282828;
  }
  .herosection h3 span {
    font-size: 18px;
  }
  .herosection h2 span {
    font-size: 40px;
  }
  .main_navbar {
    position: fixed;
    height: 100%;
    width: 90%;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--background-light);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms ease all;
    transform: translateX(100%);
  }
  .main_navbar.active {
    transform: translateX(0) !important;
  }
  .main_navbar ul {
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }
  .main_navbar ul a {
    display: flex;
    width: 100% !important;
    color: var(--text-color) !important;
    font-size: 32px !important;
    font-weight: 600 !important;
  }
  .footer {
    padding: 40px 0;
    grid-template-columns: 1fr;
  }
  .footer .logo {
    width: 100%;
  }
  .footer .navegacion_footer {
    flex-direction: column;
  }
  .footer .legal_navbar ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .footer .legal_navbar a {
    text-decoration: underline;
  }
  .servicios {
    grid-template-columns: repeat(2, 1fr);
  }
  .a_agencia h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 480px) {
  .herosection .icons {
    gap: 16px;
  }
  .herosection .icons img {
    max-width: 40px;
  }
  .herosection {
    border-radius: 0;
    padding: 140px 40px 40px;
  }
  .heroimage {
    display: none;
  }
  .servicios {
    grid-template-columns: 1fr;
  }
  .servicios .serv {
    min-height: 120px;
    border-radius: 16px;
  }
}/*# sourceMappingURL=style.css.map */